.vl-root {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto !important;
    background: #fff;
    overflow-anchor: none;
    margin: 0 !important;
    padding: 0 !important;
}

.vl-phantom {
    position: absolute;
    left: 0;
    top: 0 !important;
    /* 强制归零，不受父级影响 */
    right: 0;
    z-index: -1;
    visibility: hidden;
}

.vl-content {
    position: absolute;
    left: 0;
    top: 0 !important;
    /* 强制归零 */
    width: 100%;
    z-index: 1;
    margin: 0 !important;
}

.vl-item {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    background: #fff;
    display: flex;
    align-items: flex-start;
    padding: 0;
    will-change: top;
    margin: 0 !important;
}

.vl-item:hover {
    background-color: var(--hover-bg);
}

.vl-widget-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}